.sidebar{
    display: block;
    position: fixed;
    top:0;
    left:0;
    bottom: 45px; /* added */
    min-height: 100vh !important; /* added */
    width:85vw;
    background-color: #1E2228;
    color:white;
    z-index: 99;
    transform: translateX(-100%);
    transition: 0.25s ease-in-out;
    font-weight: bold;
    overflow-y: scroll !important;
    .close{
        float: right;
        font-size: 35px;
        margin-right: 10px;
    }
}
.sidebar.active{
    transform: translateX(0%);
}

.sidebar{
    div{
        margin-bottom: 10px;
    }
    ul{
        list-style-type: none;  
        display: none;
        margin-bottom: 15px;
        &.active{
            display: block;
        }      
    }
}