$primary:       #0d6efd;
$secondary:     #5B5C5A;
$success:       #198754;
$info:          #0dcaf0;
$warning:       #ffc107;
$danger:        #dc3545 ;
$light:         #f8f9fa;
$dark:          #343f52;

$color:#518FFC;
$color:#3F78E0;
$color-l:#dce7f9;
$primary:$color;
$blg:#7F97C5;

$soft:#f1f5fd;
$bg:#FEFEFE;

$grey-xl:#f1f5fd;
$grey-l:#aab0bc;
$grey:#9BAAB9;