@import './variables';
@import './mixins';
@import './owl';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

::selection {
  color: #fefefe;
  background: #78A0E9;
}
*:not(i){
    font-family: "Manrope", sans-serif !important;
}
html,body{
    min-height: 100%;
}
body{
    background: $bg;
    overflow-x:hidden;
}
.wrapper{
    max-width: 1320px !important;
    margin: 0 auto;
}
.br{@include br}
.br-lg{@include br-lg}
.br-xlg{@include br-xlg}
.br-xxlg{@include br-xxlg}

.text-color{
    color:$color !important;
}
.bg-color{
    background-color: $color !important;
}
.text-bg{
    color:#7F97C5;
}
.text-grey{
    color:$grey;
}
.bg-grey{
    color:$grey;
}
.manrope{
    font-family: "Manrope", sans-serif !important;
}
.dmsd{
    font-family: "DM Serif Display", serif !important;
}
.n_link{
    color:$dark;
    text-decoration: none;
    font-weight:bold;
    font-size: 1em;
    position: relative;  
    white-space: nowrap;  
    &:hover{
        color:$primary;
    }
}

.dropdown{
    *{transition: 0.25s;}
    cursor: pointer;
    transition: 0.25s;
    position: relative;
    margin: 0;    
    .opener{        
        &::after{
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            content: "\f0dd";
            display: block;
            position: absolute;
            right:-14px;
            padding-left:14px;
            top:40%;
            transform:translate(0, -50%);
            color:$color;
        }
    }
    .droplist{            
        position: absolute;
        z-index: 100;
        padding-top:25px;
        opacity: 0 !important;
        visibility: hidden !important;  
        pointer-events: none !important;                      
        .list{
            padding:20px 30px;
            background: #fff;    
            @include sh-xlg;   
            @include br;   
            list-style: none;            
            margin: 0; 
            li:not(:last-child){
                margin-bottom: 10px;  
            }     
            &:not(.tr) li:not(:last-child){
                min-width:135px;                        
            }
        }
        .tr{
            transform: translate(-25%, 0);   
            li{
                width: min-content !important;
            }  
        }
    }
    &:hover{
        .droplist{
            opacity: 1 !important;
            visibility: visible !important;
            pointer-events: initial !important;
        }
    }
}

.sub-menu{
    width: 100%;
    position: relative;
    *{transition: 0.25s;}
    .sub-drop{
        width: 100%;
        position: relative;        
        .sub-opener{
            display: block;
            width: 100%;
            position: relative;
            &::after{
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900; 
                content: "\f0da";                
                position: absolute;
                top:60%;
                right:-10px;
                padding-left: 10px;
                transform: translateY(-50%);
            }
        }
        .sub-droplist{
            background: #fff;    
            position: absolute;
            @include sh-lg;   
            @include br;  
            top:4px;
            right:-232px;
            opacity: 0;
            visibility: hidden;
            .sub-list{
                padding:25px 30px;
                list-style: none;
            }
        }        
        &:hover{
            .sub-droplist{
                top:0;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
.blogs {
    .sub-droplist{
        right:-267px !important;
    }
}

.mega-nav{    
    .mega-dropdown{
        .droplist{
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            left:6%;
            width:86%;
            padding-top: 30px;
            transform: translate(0%, 4px);
            transition: 0.25s;
        }
        &:hover{
            .droplist{
                z-index: 1;
                opacity: 1;
                visibility: visible;
                transform: translate(0%, 0);
            }
        }
    }
}

.demos{
    img{
        transform: translateY(0);
        &:hover{
            transform: translateY(-.4rem);
        }
    }
}

.doc_columns{
    list-style: none;
    column-count: 2;
}
.doc_columns_3{
    list-style: none;
    column-count: 3;
}

.block{
    background:#ffffff11;
    &:hover{background:#ffffff22}    
}

.nice_btn{
    transform: translateY(0px);
    transition: 0.25s;
    background: $primary;
    padding: 13px 20px;
    font-size: 1.1em;
    box-shadow: none;
    &:hover{
        transform: translateY(-5px);
        box-shadow: 4px 6px 15px #33333333;
        background: $primary;
    }
}
.nice_btn_outline{
    transform: translateY(0px);
    transition: 0.25s;
    background: white;
    border: 2px solid $color;
    color:$color;
    padding: 13px 20px;
    font-size: 1.1em;
    &:hover{
        transform: translateY(-5px);
        @include sh-lg;
        background: $primary;
        color:white;
    }
}

.banner{
    .img-side{       
        display: flex;
        justify-content: center;
        align-items: center;
        
        .image-container{
            width: 100%;
            position: relative;
            img{
                width: 100%;
                @include br;
            }
            &::before{
                content:"";
                display: block;
                position: absolute;
                width: 100px;
                height: 150px;
                background-image: url('/RESOURCES/dot_grid.png');
                background-repeat:no-repeat;
                background-size: contain;
                z-index: -1;
                transform: translate(-32px, -29px);
                top:0;
                left:0;
            }           
        }
    }
}
.imge-container{
    position: relative;
    img{
        width: 100%;
        position: relative;
        z-index: 1;
    }
    &::before{
        content:"";
        display: block;
        position: absolute;
        width: 150px;
        height: 150px;
        background-image: url('../RESOURCES//line_circle.svg');
        background-repeat:no-repeat;
        background-size: contain;
        z-index: 0;
        transform: translate(-50px, -50px);
        top:0;
        left:0;
    }
}



.blue-button{
    border-radius: 50%;
    background-color: $color;
    height: 60px ;
    width: 60px;
    box-shadow: none !important;
}

.blue-button2{
    border-radius: 50%;
    background-color: $color;
    height: 40px ;
    width: 40px;
    box-shadow: none !important;
}

.banner-img{
    border-radius: 2%;
}

.ul, .li{
    list-style-type:none ;
}

a {
    text-decoration:none;
 }


.icon-list {
    list-style: none;
    column-count: 2;
    li{
        position: relative;
        padding-left:20px;
        &::before{
            position: absolute;
            left:-10px;
            top:10px;
            content: "\f00c";            
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900;             
            height:20px;
            width:20px;
            color:$blg;
            font-size: 10px;            
            border-radius: 50% !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.ime-container{
    position: relative;
    &::after{
        content:'\f0da';
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        background-color: $primary;
        color:white;
        height:60px;
        width:60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        padding-left:5px;
        animation: animate 3.5s ease-in-out infinite;
    }
}
@keyframes animate {
    0%{
        box-shadow: 0 0 0 0 rgba(62, 119, 224, 0.7),0 0 0 0 rgba(62, 119, 224, 0.7);
    }
    40%{
        box-shadow: 0 0 0 35px rgba(62, 119, 224, 0),0 0 0 25px rgba(62, 119, 224, 0.4);
    }
    60%{
        box-shadow: 0 0 0 35px rgba(62, 119, 224, 0),0 0 0 25px rgba(62, 119, 224, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(62, 119, 224, 0),0 0 0 0 rgba(62, 119, 224, 0);
    }
}