@import './variables';
@import './mixins';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Manrope:wght@300;400;500;600;700;800&display=swap');

*:not(i){
    font-family: "Manrope", sans-serif !important;
}
html,body{
    min-height: 100%;
}
body{
    background: $bg;
}
// body *{
//     transition: 0.25s;
// }
.br{@include br}
.br-lg{@include br-lg}
.br-xlg{@include br-xlg}
.br-xxlg{@include br-xxlg}

.text-color{
    color:$color !important;
}
.bg-color{
    background-color: $color !important;
}
.manrope{
    font-family: "Manrope", sans-serif !important;
}
.dmsd{
    font-family: "DM Serif Display", serif !important;
}
.n_link{
    color:$dark;
    text-decoration: none;
    font-weight:bold;
    font-size: 1em;
    position: relative;  
    white-space: nowrap;  
    &:hover{
        color:$primary;
    }
}

.dropdown{
    *{transition: 0.25s;}
    cursor: pointer;
    transition: 0.25s;
    position: relative;
    margin: 0;    
    .opener{        
        &::after{
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            content: "\f0dd";
            display: block;
            position: absolute;
            right:-14px;
            padding-left:14px;
            top:40%;
            transform:translate(0, -50%);
            color:$color;
        }
    }
    .droplist{            
        position: absolute;
        padding-top:25px;
        opacity: 0 !important;
        visibility: hidden !important;  
        pointer-events: none !important;                      
        .list{
            padding:20px 30px;
            background: #fff;    
            @include sh-xlg;   
            @include br;   
            list-style: none;            
            margin: 0;      
            li:not(:last-child){
                margin-bottom: 10px;  
                min-width:135px;                        
            }
        }
        .tr{
            transform: translate(-25%, 0);   
            li{
                width: auto !important;
            }  
        }
    }
    &:hover{
        .droplist{
            opacity: 1 !important;
            visibility: visible !important;
            pointer-events: initial !important;
        }
    }
}

.sub-menu{
    width: 100%;
    position: relative;
    *{transition: 0.25s;}
    .sub-drop{
        width: 100%;
        position: relative;        
        .sub-opener{
            display: block;
            width: 100%;
            position: relative;
            &::after{
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900; 
                content: "\f0da";                
                position: absolute;
                top:60%;
                right:-10px;
                padding-left: 10px;
                transform: translateY(-50%);
            }
        }
        .sub-droplist{
            background: #fff;    
            position: absolute;
            @include sh-lg;   
            @include br;  
            top:4px;
            right:-232px;
            opacity: 0;
            visibility: hidden;
            .sub-list{
                padding:25px 30px;
                list-style: none;
            }
        }        
        &:hover{
            .sub-droplist{
                top:0;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
.blogs {
    .sub-droplist{
        right:-267px !important;
    }
}

.mega-nav{    
    .mega-dropdown{
        .droplist{
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            left:6%;
            width:86%;
            padding-top: 30px;
            transform: translate(0%, 4px);
            transition: 0.25s;
        }
        &:hover{
            .droplist{
                z-index: 1;
                opacity: 1;
                visibility: visible;
                transform: translate(0%, 0);
            }
        }
    }
}

.demos{
    img{
        transform: translateY(0);
        &:hover{
            transform: translateY(-.4rem);
        }
    }
}

.doc_columns{
    list-style: none;
    column-count: 2;
}
.doc_columns_3{
    list-style: none;
    column-count: 3;
}

.block{
    background:#ffffff11;
    &:hover{background:#ffffff22}    
}

.blue-button{
    border-radius: 50%;
    background-color: $color;
    height: 60px ;
    width: 60px;
    box-shadow: none !important;
}

.blue-button2{
    border-radius: 50%;
    background-color: $color;
    height: 40px ;
    width: 40px;
    box-shadow: none !important;
}

.banner-img{
    border-radius: 2%;
}

.ul, .li{
    list-style-type:none ;
}

a {
    text-decoration:none;
 }